* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
}
#container {
  background-color: #264653;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  gap: 30px;
}
#container .social {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}
#container .social a {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e76f51;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#container .social a:hover {
  background-color: #e76f5190;
}
main {
  width: 20%;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
main header {
  width: 100%;
  height: 70%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #2a9d8f;
  border-radius: 8px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
}
main header .up,
main header .down {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.3em;
  opacity: 0.5;
}
main header .up i,
main header .down i {
  font-size: 4rem;
  font-weight: bold;
}
main header .header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main header .header-content .box {
  background-color: #5ed4c6;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 70%;
  font-size: 3rem;
}
main header .header-content .life {
  flex-basis: 100%;
  height: 25%;
  margin-top: auto;
  font-size: 2rem;
  color: #ff6969;
  text-shadow: 1px 2px 0 #fff;
}
main section {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
main section .guessInput {
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: 0;
  color: #9b9b9b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main section .guessButton {
  background-color: #5ed4c6;
}
main section .resetButton {
  background-color: #ff6969;
}
main section .resetButton:hover,
main section .guessButton:hover {
  opacity: 0.7;
}
main section .btn {
  border-radius: 8px;
  border: 0;
  outline: none;
  color: #ffffff;
  padding: 0 10px;
  text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.24);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: opacity 0.5s;
}
footer {
  width: 20%;
}
footer .scores {
  width: 100%;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .scores .score-box {
  width: 100%;
  background-color: #f4a261;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 0;
  transition: opacity 0.5s;
}
footer .scores .score-box:hover {
  opacity: 0.7;
}
